h1{
    text-align: center;
    background-color: aquamarine;
}

table{
    margin:0px 0px 0px 650px;

    border: 1px solid black;
}

div.table{
    background-color: blanchedalmond;
}
/* 
div#t{
    padding-top: 10px;    
} */

/* form.login{
    margin:0px 0px 0px 0px;
} */

p{
    text-align: center;
}